[Unit]
Description=Ansible Update at Timer
After=network.target
After=ansible-boot.service

[Service]
Type=oneshot
Environment="ANSIBLE_LOG_PATH=/root/ansible-cron.log"
ExecStart=/usr/bin/wget -q https://raw.githubusercontent.com/techno-link/zero-client/v3/ansible/zero.yml -O /root/zero.yml
ExecStartPost=/usr/bin/ansible-playbook /root/zero.yml -v

