[Unit]
Description=Ansible Update Timer

[Timer]
OnCalendar=*-*-* 12:00:00
Persistent=true
RandomizedDelaySec=10800

[Install]
WantedBy=timers.target
