[Unit]
Description=Chromium Kiosk
ConditionPathExists=/dev/tty1
After=systemd-user-sessions.service getty@tty1.service network-online.target
Wants=network-online.target
Conflicts=getty@tty1.service

[Service]
Type=simple
User=zero
Group=zero
PAMName=login
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
StandardInput=tty
StandardOutput=journal
StandardError=journal
UnsetEnvironment=TERM
UtmpIdentifier=tty1
UtmpMode=user
WorkingDirectory=/home/zero
EnvironmentFile=-/etc/default/chromium-kiosk
ExecStart=/usr/bin/cage -s -- /snap/bin/chromium --kiosk --noerrdialogs --disable-infobars --disable-session-crashed-bubble --no-first-run ${KIOSK_URL}
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
